<template name="topic">
    <div id="topic-view">
        <div class="col-xs-12 col-sm-6 col-md-3 topicContainer">
            <div class="thumbnail">

                <div class="band"><i class="fa fa-{{icon}} fa-2x"></i></div>
                <div class="caption">
                    <h4>{{label}}</h4>
                    <p>{{description}}</p>
                    <p><a href="{{route}}" class="btn btn-primary btn-xs" role="button">View</a> <a href="#" class="btn btn-default btn-xs" role="button">Peek</a></p>
                </div>
            </div>
        </div>
    </div>

</template>
